<div id='contest'>
  <div class='image_outer'>
    <div class='container-fluid u-pad-top'>
      <div class='row'>
        <div class='container'>
          <div class='col-md-6 col-sm-9 col-lg-6 header'>
            <h1 class="headline" id="surligne">Live the <span class="heavy" id="surligne">dream<br><span class='text-left'>life</span></span></h1>
          </div>
          <div class='col-md-6 col-sm-3 col-lg-6 text'>
            <p id="surligne" class="paragraphe"> Traveling around the world and getting paid for it, that's what we call the dream life, and we give you the opportunity to live it !


            </p>
            </p>
            </p>
            </p>

<div class="go-to-contest">
          <button class="p-button p-button-secondary" id="btn-concours-suite" type="button">Apply for Dream Life</button>
        </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>





  <div id='text-model'>
    <div class="clearfix container-fluid">
      <div class="row">
        <div class="container">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 mcrew">
            <h2 class="text-center">
              <i class="fa fa-comment-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Road Tripper, Videomaker, Photographer & Event Organizer
            </h2>
          </div>
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center mcrewp">
            <p>
              We are looking for <strong>3 adventurous people who want to live the dream life</strong>. You will sign a 6 months renewable contract during which you will be road tripping in different countries. <br>You will work as a team to produce quality content for our website<strong>, implement unique itineraries for fellow roadtrippers</strong> and organize events throughout your journey. 
            </p>
            
            <p>
              <strong>No specific experience required</strong>. If your personality fits and you are willing to learn, we will teach you all you need to know for this position !
            </p>
          </div>
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 respon">
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                        <h2>Responsibilities</h2>
              <ul>
                <li>
                  <strong>Elaborate itineraries</strong> for the community.
                </li>
                <li>
                  <strong>Regularly provide content</strong> for our social networks.
                </li>
                <li>
                <strong>Organize events</strong> in a short period of time.
              </li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                        <h2>Profile</h2>
              <ul>
                <li>
                  <strong>Not afraid of being on the road</strong> for 6 months in a row.
                </li>
                <li>
                  <strong>Multilingual is a plus</strong> but a bubbly personality is all you really need.
                </li>
              </ul>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>


<div id='explication'>
  <div id='suite'>
    <div class="cirbox1"></div>
    <div class="cirbox2"></div>

    <div class="container-fluid row">
      <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-sm-6 col-1" id="container">
        <div class="circle cirpos1">
          <!-- <div class="innercircle1"></div> -->
          <div style="color: white;"><p class="txtbulles">1. TRAVEL AND GET PAID</p></div>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-sm-6 col-1" id="container">
        <div class="circle cirpos2">
          <div style="color: white;"><p class="bulledeux">2. SHARE YOUR ADVENTURES WITH THE COMMUNITY</div></p>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-sm-6 col-1" id="container">
        <div class="circle cirpos3">
        </div>
        <div class="cptitle" style="color: white;"><p class="bulletrois">3. ORGANIZE EVENTS THROUGHOUT YOUR JOURNEY</p></div>
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-sm-6 col-1" id="container">
        <div class="circle cirpos4">
          <div class="innercircle4"></div>
          <span><a href="https://www.instagram.com/voyajers/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
          <div style="color: white;"><p id="legende"></p></div>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-sm-12 col-1" id="container">
        <div class="circle cirpos5">
          <div class="innercircle5"></div>
          <span><a href="https://www.youtube.com/watch?v=SFhAuiL8nq0" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
          <div style="color: white;"><p id="legende"></p></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div align="center" class='col-md-6 col-md-offset-3 col-sm-3' id="boutondeux">
                    <div class="go-to-contest">
          <button class="p-button p-button-secondary" id="btn-concours-form" type="button">View Form</button>
        </div>
      </div>
    </div>
  </div>


    <div class="container">
      <div align="center" class='col-md-6 col-md-offset-3 col-sm-3'>

      </div>
    </div>
  </div>

  <a class='form' id='form'></a>
  <section id='contest-form-container'>
    <div class='row'>
      <div class='contest-form'>
        <%= render 'contest_participant_form', new_participant: @new_participant %>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div id="successfull-delivery" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h3>Congratulations ! You took the first step towards the Dream Life!<br> You will hear from us soon for the second step of the selection.<br>To make sure you don’t miss any news, make sure to follow our social networks</h3>
          <div class="footer-social-icons">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/Voyajers/" class="social-icon" target="_blank"> <i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Voyajers" class="social-icon" target="_blank"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/voyajers/" class="social-icon" target="_blank"> <i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to 'Close', tours_path, class: "btn btn-default close-modal" %>
        </div>
      </div>
    </div>
  </div>
</div>
